.App {
  text-align: center;
}

a {
  color: #000 !important;
}
a:hover {
  text-decoration: none !important;
}
.card {
  border-radius: 0 !important;
}
.card:hover {
  box-shadow: 0 0 1px 1px #ddd;
}

.badge {
  border-radius: 0 !important;
}
